.card-container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-family: 'PT Serif', 'Helvetica', sans-serif;
    background-color: #ffffff;
}

.ant-typography {
    font-family: 'PT Serif', 'Helvetica', sans-serif;
    color: #333333;
}

.ant-divider-horizontal {
    margin: 12px 0;
    background-color: #00A3D9; /* 修改分割线颜色 */
    height: 2px;
    position: relative;
    text-align: center;
}

.ant-divider-horizontal::before {
    content: ' ';
    display: block;
    border-top: 2px solid #00A3D9;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
}

.ant-divider-horizontal .ant-divider-inner-text {
    padding: 0 5px;
    background: #ffffff;
    z-index: 2;
}

.ant-typography h2 {
    font-size: 30px;
    margin-bottom: 27px; /* 调整标题和分割线之间的间距 */
    color: #005f8d;
}

.ant-typography h3 {
    font-size: 20px; /* 调整标题字体大小 */
    color: #00A3D9; /* 使用主题色 */
    margin-bottom: 8px; /* 调整标题和内容之间的间距 */
}

.ant-space-item {
    width: 100%;
}

.ant-pagination {
    text-align: center;
}

.book-info {
    text-align: left;
    font-family: 'PT Serif', 'Helvetica', sans-serif;
    background-color: #e6f7ff; /* 浅蓝色背景 */
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 16px; /* 调整内容之间的间距 */
}

.book-info p {
    margin: 5px 0;
    font-size: 16px;
    color: #00A3D9;
}

.price-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #e6f7ff;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}

.price-details {
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
}

.promo-section {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.promo-details {
    background-color: #f48484;
    padding: 4px 10px;
    border-radius: 5px;
    color: white;
    margin-right: 10px;
}

.promo-warning {
    display: flex;
    align-items: center;
}

.promo-warning .anticon {
    margin-right: 5px;
}

.comment-card {
    font-family: 'PT Serif', serif;
}
