.book-card {
    font-family: 'PT Serif', 'Helvetica', sans-serif;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.book-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.book-card-meta {
    font-family: 'PT Serif', 'Helvetica', sans-serif;
    color: #333;
}

.book-card-meta p {
    margin: 0;
    padding: 0;
    display: block;
    line-height: 1.5;
    white-space: nowrap; /* 不换行 */
    overflow: hidden;
    text-overflow: ellipsis; /* 省略显示不完的文字 */
}

.book-title {
    font-size: 16px;
    color: #333;
    margin-bottom: 8px;
}

.book-author {
    font-size: 16px;
    color: #00A3D9;
    margin-bottom: 8px;
}

.book-price {
    font-size: 16px;
    color: #00A3D9;
    margin-bottom: 8px;
}

.book-isbn {
    font-size: 16px;
    color: #00A3D9;
    margin-bottom: 8px;
}

.book-sales-inventory {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #005f8d;
    margin-top: 8px;
    padding-top: 8px;
    border-top: 1px solid #e0e0e0;
}
