/* cartPage.css */

.card-container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-family: 'PT Serif', 'Helvetica', sans-serif;
    background-color: #ffffff;
}

.cart-title {
    font-size: 32px; /* 增加字体大小 */
    font-weight: bold;
    color: #00A3D9;
    text-align: center;
    margin-bottom: 40px; /* 增加间距 */
}

.ant-input-search {
    width: 100%;
}

.search-button {
    font-family: "PT Serif";
    width: 100%; /* 使按钮占满水平空间 */
    text-align: center; /* 使按钮内的文本和图标居中 */
    display: flex;
    justify-content: center;
    align-items: center;
}
