/* OrderPage.css */

.card-container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'PT Serif', 'Helvetica', sans-serif;
}

.order-title {
    font-size: 24px;
    font-weight: bold;
    color: #00A3D9;
    text-align: center;
    margin-bottom: 20px;
}

.ant-input-search {
    width: 100%;
}

.ant-btn-primary {
    background-color: #00A3D9;
    border-color: #00A3D9;
}

.ant-btn-primary:hover {
    background-color: #007da0;
    border-color: #007da0;
}
